body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: #2b2b2b;
}

.header {
    display: block;
    background-image: url(./images/header.jpeg);
    background-size: cover;
    background-position: 25% 45%;
    min-height: fit-content;
    width: 100%;
    box-shadow: rgb(0 0 0 / 90%) 0px -100px 220px 25px inset;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(20px + 1vw);
}

.name {
    color: white;
    font-size: calc(20px + 2vw);
    margin: 18px 0;
}

a {
    text-decoration: none;
    color: white;
}

.links {
    margin: 0 20px;
    max-width: 760px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.links a {
    margin: 8px 12px;
    color: white;
}

.me {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.avatar {
    margin-top: 50px;
    border-radius: 100px;
    border: 2px solid white;
    width: calc(100px + 2vw);
    height: calc(100px + 2vw);
}

.about {
    padding: calc(20px + 1vw);
    max-width: 800px;
}

.about p {
    margin-top: 24px;
    line-height: 21px;
}

.about a {
    color: #1976d2;
}

.hi {
    margin-bottom: 36px;
}

.separator::before {
    content: '...';
}

.separator {
    text-align: center;
    font-size: 28px;
    letter-spacing: 0.6em;
    line-height: 2;
}
